.tab{
    @apply flex -mx-2 my-0; 
    &-item{
         @apply flex-grow px-2; 
        a{
            @apply font-cooperhewitteg shadow block text-center py-5 rounded relative overflow-hidden ;
            &::after{
                content:'';
                @apply absolute bg-blue-500;
                width: 100%;
                bottom:0;
                left:0;
                height: 3px;   
            }
        }
    }
}
 